.banner {
    background: url("../img/photo.jpg") no-repeat center top;
    margin-top: -30px;
    padding-top: 200px;
    padding-bottom: 200px;
}
.text-align-center{
    text-align: center;
}

.header{
    padding-top: 10px;
    background-color: white;
}

.footer{
    background-color: grey;
    padding-bottom: 50px;
    padding-top: 50px;
}

.footer-icons{
    padding-left: 10px;
    padding-right: 10px;
}

.project-tools{
    font-size: 16px;
    padding-top: 75px;
    padding-bottom: 15px;
}

.resume-header{
    padding-top: 50px;
}

.resume-intro{
    font-size: larger;
}

.resume-skills{
    padding-bottom: 25px;
}

.experience-list{
    padding-top: 10px;
    padding-left: 20px;
    line-height: 20px;
}